
<!-- {{log session}} -->

<h4></h4>
{{#if isEditing}}
  <div class="final-rant right-fixed-column clearfix rants-transition">
    <div class="rants-header">
      {{#if session.email}}
      <button class="edit-button" name="Edit" {{action "editRant"}}>Edit  {{fa-icon "edit"}}</button>
      {{/if}}
      {{#link-to "rant.index" rant}}<h2 class="h2-header">{{this.rant.title}}</h2>{{/link-to}}
    </div>
    <div class="block-it">
      <div class="outer-image gravatar-redux">
        {{gravatar-image email=rant.user.email alt=rant.user.firstName size=200}}
      </div>
      <p class="rant-body-adjust"> {{rant.body}}</p>
    </div>
  </div>
{{else}}
  <div class="final-rant right-fixed-column clearfix rants-transition">
    <div class="rants-header ">
      <button class="delete-button" name="delete" {{action "componentDeleteSend" rant.id}}>Delete  {{fa-icon "edit"}}</button>
      <button class="cancel-button" name="Edit" {{action "editCancel" rant}}>Cancel  {{fa-icon "edit"}}</button>
      <button class="save-button" name="dave" {{action "editSave" rant}}>Save  {{fa-icon "edit"}}</button>

        <h2 class="h2-header ">{{input value=rant.title class="rants-input-edit"}}</h2>

    </div>
    <div class="block-it">
      <div class="outer-image gravatar-redux">
        {{gravatar-image email=rant.user.email alt=rant.user.firstName size=200}}
      </div>
      {{textarea value=rant.body}}
    </div>
    <div class="">
      This post is {{rant.body.length}} characters.
    </div>
  </div>
{{/if}}

{{outlet}}
