
  <div class="column column-sevenfive ">
    {{log stuff}}
    {{#if stuff}}
    {{#each rant in model}}
      <div class="final-rant right-fixed-column clearfix">
        <h2>{{rant.title}}</h2>
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=rant.user.email alt=rant.user.firstName size=200}}
        </div>
        <strong><h3>{{rant.user.firstName}} {{rant.user.lastName}}</h3></strong>
        <p> {{rant.body}}</p>
      </div>
    {{/each}}
  </div>
    {{else}}
    <div class="loading container">
      <div class="spinner">
      </div>
    </div>
      {{/if}}

{{outlet}}
