<div class="column column-sevenfive liquid-container">

    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header ">
        <button class="cancel-button" name="Edit" {{action "editCancel" }}>Cancel  {{fa-icon "edit"}}</button>
        <button class="save-button" name="dave" {{action "newRant" }}>Save  {{fa-icon "edit"}}</button>

          <h2 class="h2-header ">{{input value=title class="rants-input-edit"}}</h2>
      </div>
      <div class="block-it">
          {{#if errorToggle}}
              <p class="error-format-pull-left">{{errors.title}}</p>
          {{/if}}
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=rant.user.email alt=rant.user.firstName size=200}}
        </div>
      <div class="body-length-format">
        {{#if body.length}}
          {{body.length}} Characters
        {{else}}
          0 Characters
        {{/if}}

      </div>
      {{#if errorToggle}}
          <p class="error-format">{{errors.body}}</p>
      {{/if}}
        {{textarea value=body class="textarea-format" placeholder="Start rant here!"}}
      </div>
    </div>


</div>


{{outlet}}
