<div class="column column-sevenfive liquid-container">

  <div class="final-rant right-fixed-column clearfix rants-transition">
    {{#if session.isAuthenticated}}
    <div class="">
      <h1 class="h1-format h1-center">{{session.firstName}} you are already logged in!</h1>
    </div>
    {{else}}

    <div class="new-user-input">
      {{#if errorToggle3}}
        <p class="error-format not-a-member">{{errors.amaMember}}</p>
      {{/if}}
      {{input placeholder=" First name" value=firstName class="input-format"}}
      {{#if errorToggle}}
          <p class="error-format-signup">{{errors.firstName}}</p>
      {{/if}}
      {{input placeholder=" Last name" value=lastName class="input-format"}}
      {{#if errorToggle}}
          <p class="error-format-signup">{{errors.lastName}}</p>
      {{/if}}
      {{input placeholder=" Email" value=newEmail class="input-format"}}
      {{#if errorToggle}}
          <p class="error-format-signup">{{errors.newEmail}}</p>
      {{/if}}
      {{input placeholder=" Password" value=newPassword type='password' class="input-format"}}
      {{#if errorToggle}}
          <p class="error-format-signup">{{errors.newPassword}}</p>
      {{/if}}
      <button class="login-button shift-button" name="button" {{action "createNewUser"}}>Log In</button>
    </div>
    {{/if}}
  </div>
</div>
{{outlet}}
