<div class="column column-sevenfive">
  {{#if isEditing}}
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header">
        <button class="edit-button" name="Edit" {{action "editRant"}}>Edit  {{fa-icon "edit"}}</button>
        <h2 class="h2-header">{{title}}</h2>
      </div>
      <div class="block-it">
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=user.email alt=user.firstName size=200}}
        </div>
        <p class="rant-body-adjust"> {{body}}</p>
      </div>
      <div class="">
        This post is {{body.length}} characters.
      </div>
    </div>
  {{else}}
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header ">
        {{log isEditing}}
        <button class="cancel-button" name="Edit" {{action "editCancel" controller}}>Cancel  {{fa-icon "edit"}}</button>
          <h2 class="h2-header ">{{input value=title class="rants-input-edit"}}</h2>
      </div>
      <div class="block-it">
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=user.email alt=user.firstName size=200}}
        </div>
        {{textarea value=body}}
      </div>
      <div class="">
        This post is {{body.length}} characters.
      </div>
    </div>
  {{/if}}
</div>
