<div class="column column-sevenfive rant-anima">

  {{#if isEditing}}
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header">
        {{#if isEditingCurrent}}
          <button class="edit-button" name="Edit" {{action "editRant"}}>Edit  {{fa-icon "edit"}}</button>
        {{/if}}
        <h2 class="h2-header">{{title}}</h2>
      </div>
      <div class="block-it">
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=user.email alt=user.firstName size=200}}
        </div>
        <p class="rant-body-adjust"> {{body}}</p>
      </div>

    </div>
  {{else}}
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header ">
        <button class="delete-button" name="Edit" {{action "deleteRant" model.id}}>Delete  {{fa-icon "remove"}}</button>
        <button class="cancel-button" name="Edit" {{action "editCancel" model}}>Cancel  {{fa-icon "undo"}}</button>
        <button class="save-button" name="Edit" {{action "editSave" model}}>Save  {{fa-icon "save"}}</button>
          <h2 class="h2-header ">{{input value=title class="rants-input-edit"}}</h2>
      </div>
      <div class="block-it">
        {{#if errorToggle}}
            <p class="error-format-pull-left">{{errors.title}}</p>
        {{/if}}
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=user.email alt=user.firstName size=200}}
        </div>
      <div class="body-length-format">
        {{#if body.length}}
          {{body.length}} Characters
        {{else}}
          0 Characters.
        {{/if}}
      </div>
      {{#if errorToggle}}
          <p class="error-format">{{errors.body}}</p>
      {{/if}}
        {{textarea value=body class="textarea-format" placeholder="Start rant here!"}}
      </div>
    </div>
  {{/if}}
</div>
