<div class="column column-sevenfive rant-anima">

  {{#if isEditing}}
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header">
        {{#if session.email}}
          <button class="edit-button" name="Edit" {{action "editRant"}}>Edit  {{fa-icon "edit"}}</button>
        {{/if}}
        <h2 class="h2-header">{{title}}</h2>
      </div>
      <div class="block-it">
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=user.email alt=user.firstName size=200}}
        </div>
        <p class="rant-body-adjust"> {{body}}</p>
      </div>

    </div>
  {{else}}
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="rants-header ">
        <button class="delete-button" name="Edit" {{action "deleteRant" model.id}}>Delete  {{fa-icon "edit"}}</button>
        <button class="cancel-button" name="Edit" {{action "editCancel" model}}>Cancel  {{fa-icon "edit"}}</button>
        <button class="save-button" name="Edit" {{action "editSave" model}}>Save  {{fa-icon "edit"}}</button>
          <h2 class="h2-header ">{{input value=title class="rants-input-edit"}}</h2>
      </div>
      <div class="block-it">
        <div class="outer-image gravatar-redux">
          {{gravatar-image email=user.email alt=user.firstName size=200}}
        </div>
      <div class="body-length-format">
        This post is {{body.length}} characters.
      </div>
        {{textarea value=body class="textarea-format"}}
      </div>
    </div>
  {{/if}}
</div>
