
<div class="column column-sevenfive user-anima">
    <div class="final-rant right-fixed-column clearfix rants-transition">
      <div class="block-it">
        <div class="outer-image gravatar-redux grav-pad">
          {{gravatar-image email=model.email alt=user.firstName size=200}}
        </div>
    {{#each rant in model.rants }}
    <div class="column column-sevenfive user-anima pull-righter rant-padding">
      {{single-rant rant=rant gravSuppress='1' insideRantComponent="deleteRant" componentSort='sortDate' currentId=rant.user.id sessionId=session.id}}
    </div>
    {{/each}}
    <div class="user-info-format">
    <h3 class="h2-header-user" id="kill-it">{{model.firstName}} {{model.lastName}}</h3>
      <p class="h2-header-email ">{{model.email}}</p>
    </div>
      </div>
    </div>
</div>
