
<header class="dark-blue">
  <div class="header-nav">
    <a class="header-nav" href="/">Rantly</a>
    <a class="header-nav-small" href="/">Rants</a>
    <a class="header-nav-small" href="/users">Users</a>
    <a class="header-nav-small" href="/signup">Signup</a>
  </div>
</header>

<div class="main-container columns clearfix">
  <form {{action "doSearch" on="submit"}}>
    {{input type="text" placeholder="Search" value=searchparams class="column column-four search-bar" }}
  </form>
  <div class="column column-sevenfive new-rant-bar">
  {{#if session.isAuthenticated}}
    <button name="new-rant" {{action "newPath"}}>New Rant</button>
  {{/if}}
  </div>

  {{#if session.isAuthenticated}}

    <div class="column column-four">
      <div class="left-fixed-column">
        <div class="outer-image ">
          {{gravatar-image email=user.email alt=user.firstName size=350}}
        </div>
        <button class="login-button" name="Log out" {{ action 'invalidateSession' }}>Log Out</button>
      </div>
    </div>
  {{else}}
    <div class="column column-four">
      <div class="middle-fixed-column">
        <form {{action 'authenticate' on='submit'}}>
         {{input placeholder="Email" value=identification  }}
          {{#if errorToggle}}
              <p class="error-format">{{errors.identification}}</p>
          {{/if}}
          {{input placeholder="Password" value=password type='password' class="money"}}
          {{#if errorToggle}}
            <p class="error-format">{{errors.password}}</p>
          {{/if}}
          <button class="login-button" type="submit">Log In</button>
        </form>
      </div>
    </div>
  {{/if}}


{{outlet}}
</div>
